<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liudao51.shop.mapper.TradeCouponMapper">

    <select id="selectById" parameterType="map" resultType="com.liudao51.shop.entity.po.TradeCoupon">
        SELECT
            a.coupon_id,
            a.coupon_price,
            a.user_id,
            a.order_id,
            a.is_used,
            a.used_time
        FROM trade_coupon AS a
        WHERE 1=1
        <choose>
            <when test="parameter.coupon_id != null and parameter.coupon_id != ''">
                AND a.coupon_id=#{parameter.coupon_id}
            </when>
            <otherwise>
                AND a.coupon_id='-1'
            </otherwise>
        </choose>
        LIMIT 0,1
    </select>

    <select id="selectOne" parameterType="map" resultType="com.liudao51.shop.entity.po.TradeCoupon">
        SELECT
            a.coupon_id,
            a.coupon_price,
            a.user_id,
            a.order_id,
            a.is_used,
            a.used_time
        FROM trade_coupon AS a
        WHERE 1=1
        <if test="parameter.coupon_id!=null and parameter.coupon_id!=''">
            AND a.coupon_id=#{parameter.coupon_id}
        </if>
        LIMIT 0,1
    </select>

    <select id="selectList" parameterType="map" resultType="com.liudao51.shop.entity.po.TradeCoupon">
        SELECT
            a.coupon_id,
            a.coupon_price,
            a.user_id,
            a.order_id,
            a.is_used,
            a.used_time
        FROM trade_coupon AS a
    </select>
</mapper>
